[submodule "DS"]
	path = DS
	url = git@github.com:montahaee/DS.git
[submodule "DB"]
	path = DB
	url = git@github.com:montahaee/DB.git
[submodule "WIL_Journal"]
	path = WIL_Journal
	url = git@github.com:montahaee/WIL_Journal.git
